@model PaginatedList<AttendanceRegistration.Models.Persons>
@using System.Reflection;
@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.Name.Split('@')[1] == "edu.campusvejle.dk")
{
    <div hidden="hidden" id="json">
        @ViewData["JSON"]
    </div>
    <h2>Index</h2>
    <script>
        var data = "";
    </script>
    <form asp-action="Create">
        <input type="submit" value="check in" />
    </form>
    <div id="data" class="table-bordered col-12 m-1 p-1">
        <div class="col-12 m-1 p-0 container-fluid">
            <div class="col-12 row">
                <div class="col-1 p-0 m-0">
                    <p class="p-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fullname)
                        </strong>
                    </p>
                </div>
                <div class="col-11 p-0 positionRelative row" data-bind="foreach: persons[0].attendances">
                    <div class="rotater col-1 m-0 p-0">
                        <div data-bind="text: dates"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 m-0 mt-2 row table-bordered" data-bind="foreach: persons">
            <div class="col-1 p-0 pl-1 fullname" data-bind="text: fullname"></div>
            <div class="col-11 p-0 row" data-bind="foreach: attendances">
                <div class="col-1 p-0 hours">
                    <div type="text" class="col-12 p-0 text-center" name="hours" data-bind="text: hours" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="dx-viewport demo-container">
        <div id="chart-demo">
            <div id="pie" data-bind="dxPieChart: chartOptions"></div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
}
else
{
    <div hidden="hidden" id="json">
        @ViewData["JSON"]
    </div>
    <h2>Index</h2>
    <script>
        var data = "";
    </script>
    <div id="data" class="table-bordered col-12 m-1 p-1">
        <div class="col-12 m-1 p-0 container-fluid">
            <div class="col-12 row">
                <div class="col-1 p-0 m-0">
                    <p class="p-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fullname)
                        </strong>
                    </p>
                </div>
                <div class="col-11 p-0 positionRelative row" data-bind="foreach: persons[0].attendances">
                    <div class="rotater col-1 m-0 p-0">
                        <div data-bind="text: dates"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 m-0 mt-2 row table-bordered" data-bind="foreach: persons">
            <div class="col-1 p-0 pl-1 fullname" data-bind="text: fullname"></div>
            <div class="col-11 p-0 row" data-bind="foreach: attendances">
                <div class="col-1 p-0 hours">
                    <input type="text" class="col-12 p-0 text-center" id="hoursEdit" name="hours" data-bind="value: hours" />
                </div>
            </div>
        </div>
    </div>


    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <nav aria-label="Page navigation" class="ml-1">
        <ul class="pagination">
            <li class="page-item"><a asp-action="index" asp-route-PageIndex="@(Model.PageIndex - 1)" asp-route-SearchString="@ViewData["currentSearch"]" class="page-link @prevDisabled">prev</a></li>
            <li class="page-item"><a asp-action="index" asp-route-PageIndex="@(Model.PageIndex + 1)" asp-route-SearchString="@ViewData["currentSearch"]" class="page-link @nextDisabled">next</a></li>
        </ul>
    </nav>
    <div class="dx-viewport demo-container">
        <div id="chart-demo">
            <div id="pie" data-bind="dxPieChart: chartOptions"></div>
        </div>
    </div>
}
<script src="~/js/site.js"></script>